<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:usesCleartextTraffic="true" android:allowBackup="true" android:dataExtractionRules="@xml/data_extraction_rules" android:fullBackupContent="@xml/backup_rules" android:icon="@drawable/logold" android:name=".LiftDropApplication" android:label="@string/app_name" android:roundIcon="@drawable/logold" android:supportsRtl="true" android:theme="@style/Theme.LiftDrop" tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity android:name="pt.isel.liftdrop.home.ui.HomeActivity" android:alwaysRetainTaskState="true" android:exported="true" android:label="@string/app_name" android:theme="@style/Theme.LiftDrop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="pt.isel.liftdrop.login.ui.LoginActivity" android:exported="false"> </activity>
        <activity android:name="pt.isel.liftdrop.login.ui.RegisterActivity" android:exported="false"> </activity>
        <activity android:name="pt.isel.liftdrop.about.ui.AboutActivity" android:exported="false"> </activity>
    </application>


</manifest>